<body class="mat-app-background">
  <div class="page_title">
    <h2 class="margin_title">Orden de compra</h2>
  </div>
  <form [formGroup]="compraGroup" (ngSubmit)="guardar()">
    <mat-form-field class="fecha">
      <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section>
      <mat-form-field class="combo">
        <input type="text" placeholder="Proveedor" aria-label="Number" matInput formControlName="proveedor" [matAutocomplete]="autoProveedor">
        <mat-autocomplete autoActiveFirstOption #autoProveedor="matAutocomplete" [displayWith]="displayCombo">
          <mat-option *ngFor="let item of proveedorOptions | async" [value]="item">
            {{item.descripcion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="combo">
        <input type="text" placeholder="Area" aria-label="Number" matInput formControlName="area" [matAutocomplete]="autoArea">
        <mat-autocomplete autoActiveFirstOption #autoArea="matAutocomplete" [displayWith]="displayCombo">
          <mat-option *ngFor="let item of areaOptions | async" [value]="item">
            {{item.descripcion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="combo">
        <input type="text" placeholder="Categoria" aria-label="Number" matInput formControlName="categoria" [matAutocomplete]="autoCategoria">
        <mat-autocomplete autoActiveFirstOption #autoCategoria="matAutocomplete" [displayWith]="displayCombo">
          <mat-option *ngFor="let item of categoriaOptions | async" [value]="item">
            {{item.descripcion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="combo">
        <input type="text" placeholder="Insumo" aria-label="Number" matInput formControlName="insumo" [matAutocomplete]="autoInsumo">
        <mat-autocomplete autoActiveFirstOption #autoInsumo="matAutocomplete" [displayWith]="displayCombo">
          <mat-option *ngFor="let item of insumoOptions | async" [value]="item">
            {{item.descripcion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="Cantidad" min="0" formControlName="cantidad">
      </mat-form-field>

      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="Precio unitario" [step]="0.01" min="0.01" formControlName="precioUnitario">
      </mat-form-field>
    </section>
    <section class="section">
    <button mat-raised-button mat-button color="primary" (click)="agregarItem()" type="button"
      [disabled]="!compraGroup.valid">Agregar</button>
    </section>
    <section>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Insumo Column -->
          <ng-container matColumnDef="insumo">
            <mat-header-cell *matHeaderCellDef> Insumo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.insumo}} </mat-cell>
          </ng-container>
  
          <!-- Cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cantidad}}</mat-cell>
          </ng-container>
  
          <!-- Cantidad Column -->
          <ng-container matColumnDef="precioUnitario">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Precio unitario </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.precioUnitario}}</mat-cell>
            </ng-container>
  
          <!-- Unidad de medida Column -->
          <ng-container matColumnDef="precioTotal">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Precio total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.precioTotal}} </mat-cell>
          </ng-container>
  
           <!-- Delete Column -->
           <ng-container matColumnDef="delete">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button (click)="borrarItem(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </section>
      <div class="button-row">
        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!compraGroup.valid">Guardar</button>
      </div>
  </form>
</body>
