<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
    <mat-sidenav  #sidenav role="navigation">
        <mat-nav-list>
         <a  mat-list-item routerLink="/login">
           <mat-icon class="icon">input</mat-icon>
           <span class="label">LogOut</span>
         </a>
         </mat-nav-list>
       </mat-sidenav>
       <mat-sidenav-content>
          <mat-toolbar color="primary">
           <div fxHide.gt-xs>
             <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
           <div class="margin" *ngxPermissionsOnly="['cargaDiaria']">
             <a routerLink="/menuRealizado">
                Menu Realizado
             </a>
           </div>
           <div class="margin" *ngxPermissionsOnly="['ajustarStock']">
             <a routerLink="/ajusteStock">
                Ajuste de Stock
             </a>
           </div>
           <div class="margin" *ngxPermissionsOnly="['abmProveedor']">
            <a routerLink="/proveedores">
               Proveedores
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['consultarStock']">
            <a routerLink="/stock">
               Stock
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['cargarCompra']">
            <a routerLink="/compra">
               Orden compra
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['cargarCompra']">
            <a routerLink="/listaCompras">
               Compras
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['descarte']">
            <a routerLink="/descarte">
               Descarte
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['reportes']">
            <a routerLink="/reportes">
               Reportes
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['abmMenu']">
            <a routerLink="/menu">
               Menu
            </a>
          </div>
          <div class="margin" *ngxPermissionsOnly="['abmInsumo']">
            <a routerLink="/insumo">
               Insumos
            </a>
          </div>
           <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
              <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                  <li *ngxPermissionsOnly="['authenticated']">
                      <a routerLink="/login">
                        <mat-icon class="icon">input</mat-icon>
                        <span class="label">Cerrar sesión</span>
                       </a>
                  </li>
              </ul>
           </div>
          </mat-toolbar>

        </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
