.form {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .margin {
    margin: 10px;
    width: 100px;
  }
  .combo {
    width: 300px;
    margin: 10px;
  }
  table {
    width:40%;
    margin: 10px;
  }
