<body class="mat-app-background">

  <div class="form" >
    <mat-form-field class="fecha">
      <input matInput [matDatepicker]="picker" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <section class="section">
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="Lactarios" min="0" >
      </mat-form-field>
      
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="1 año" min="0" >
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="2 años" min="0" >
      </mat-form-field>
      
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="3 años" min="0" >
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="4-5 años" min="0" >
      </mat-form-field>
      
      <mat-form-field class="inputNumber">
        <input matInput type="number" placeholder="Adultos" min="0" >
      </mat-form-field>
    </section>
  
    <section>
        <mat-form-field class="combo">
            <input type="text" placeholder="Menu" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayMenues">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
              (onSelectionChange) = "getInsumosMenu(option.id)">
                {{option.descripcion}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </section>
  
    <section>
  
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Insumo Column -->
          <ng-container matColumnDef="insumo">
            <mat-header-cell *matHeaderCellDef> Insumo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
          </ng-container>
        
          <!-- Cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <input type="number" [value]="element.cantidad" [(ngModel)]="element.cantidad">
            </mat-cell>
          </ng-container>
        
          <!-- Unidad de medida Column -->
          <ng-container matColumnDef="unidadMedida">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Unidad de medida </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.unidadDeMedida}} </mat-cell>
          </ng-container>
        
          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button (click)="borrarInsumo(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
    </section>
    <div class="button-row">
        <button mat-stroked-button color="primary">Guardar</button>
    </div>
  </div>
</body>
