.form {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .margin {
    margin: 10px;
    width: 100px;
  }
  .combo {
    width: 300px;
    margin: 10px;
  }
  table {
    width:40%;
    margin: 10px;
    background-color: silver;
    border-color: blue;
    column-rule-color: gray;

  }
  th{
      background-color: gray;
    border-color: black;
    column-rule-color: gray;
  }

.button-row button,
.button-row a {
  margin-right: 8px;
  margin: 10px;
  align-content: right;
  align-items: center;

}
